
<div class="sidebar-module sidebar-module-about">
    <h5>About me </h5>
    <img class="about-avatar" alt="avatar" src= <%- url_for('https://placekitten.com/g/200/200') %> >
    <div class="about-name"><%- theme.author || config.author %></div>
    <% if(theme.description && theme.description.length !== 0) {%>
        <div class="about-description">
            <%= theme.description %>
        </div>
    <% } %>
    <% if(theme.social) { %>
        <div class="about-social">
            <%- partial('social-icons') %>
        </div>
    <% } %>

    <% if(theme.about) { %>
        <div class="about-me">
            <a href = "<%- url_for("/about") %>" >ABOUT ME</a>
        </div>
    <% } %>   
    </div>
