<html>
    <!-- Head tag -->
    <%- partial('_partial/head') %>
    <body>
        <div class="wrapper">
        <%- partial('_partial/header') %>
        <div class="main">
            <%- body %>
        </div>
         <!-- Footer -->
        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>
        </div>
    </body>
</html>
